* {
	font-family:"Trebuchet MS","sans-serif";
}

/* Rules for CTPS "branding" */
#banner{
	position:relative;
	height:100%;
	left:2%;
	top:-43px;
	z-index:15;
	border: none;
}
.pagetitle{
    font-size: 17px;
}
.ctpsHeader{
	height:59px;
	background-color:white
}
.lightBlue{
	height:27px;
	width:100%;
	background-color:#7DA1C4;
	z-index:10;
}
.darkBlue{
	height:16px;
	width:100%;
	background-color:rgb(13,72,127);
	z-index:10;
}
/* End of rules for CTPS "branding" */

/* Throttle the jQueryUI font size back a bit */
.ui-widget {
    font-size:80% !important;
}

/* General rules. */
.viz_caption_nbsb {
    text-align: center;
    font-size: 18pt;
    min-height: 30px;
}
.viz_caption_ebwb {
    transform: rotate(-90deg);
    text-align: center;
    font-size: 18pt;
    width: 30px;
}
.options_div {
    margin-top: 5px;
    margin-bottom: 5px;
}
/* The following rule is now a fossil. */
.viz_toggle_td {
    text-align:right;
}
.viz_toggle_button {
    font-size: 12pt;
}
/* End of general rules. */

/* Rules for elements of the main view. */
#main_view_wrapper {
    width: 100%;
    align: center;
    /* height: 600px; */
}
#gfx_wrapper_main_nbsb {
    display:flex;
    justify-content:center;
}

#sb_lanes {
    width: 130px;
    height: 700px;
    border: 2px solid #B87F32;
    margin-right: none; /* was: 10px */
    overflow: scroll;
    overflow-x:  hidden;    
}
#sb_viz {
    width: 465px;
    height: 700px;
    border: 2px solid #B87F32;
    margin-right: 10px;
    overflow: scroll;
    overflow-x:  hidden;
}
#map_nbsb_wrapper {
    /* margin-left: 5%;
    margin-right: 5%; */
    height: 100%;
}
#map_nbsb {
    width:  500px;
    height: 700px;
    border: 2px solid #B87F32; 
}
#nb_viz {
    width: 465px;
    height: 700px;
    border: 2px solid #B87F32;;
    margin-left: 10px;
    overflow: scroll;
    overflow-x:  hidden;
}
#nb_lanes {
    width: 130px;
    height: 700px;
    border: 2px solid #B87F32;;
    margin-left: none; /* was: 10px  */
    overflow: scroll; 
    overflow-x:  hidden;    
}

#gfx_wrapper_main_ebwb {
    display:flex;
    justify-content:center;
}
/* NEW STUFF */
#eb_lanes {
    width: 1400px;
    height: 130px;
    border: 2px solid #B87F32;
    margin-bottom: none; 
    overflow: scroll;
    overflow-y:  hidden;    
}
#eb_viz {
    width: 1400px;
    height: 210px;
    border: 2px solid #B87F32;;
    margin-bottom: 10px;
    overflow: scroll;
    overflow-y:  hidden;  
} 
#map_ebwb_wrapper {
    /* margin-left: 5%;
    margin-right: 5%; */
    width: 100%;
}
#map_ebwb {
    width:  1400px;
    height: 380px;
    border: 2px solid #B87F32; 
} 
#wb_viz {
    width: 1400px;
    height: 210px;
    border: 2px solid #B87F32;;
    margin-top: 10px;
    overflow: scroll;
    overflow-y:  hidden;  
}
#wb_lanes {
    width: 1400px;
    height: 130px;
    border: 2px solid #B87F32;;
    margin-top: none; 
    overflow: scroll; 
    overflow-y:  hidden;    
}      
/* End of rules for elements of the main view. */

/* Rules for elements of the AWDT comparator view. */
#awdt_comp_view_wrapper {
    width: 100%;
    /* height: 600px; */
}
#gfx_wrapper_awdt_nbsb {
    display:flex;
    justify-content:center;
}
#sb_viz_yr_1 {
    width: 465px;
    height: 700px;
    border: 2px solid #B87F32;
    margin-right: 5px;
    overflow: scroll;
    overflow-x:  hidden;
}
#sb_viz_yr_2 {
    width: 465px;
    height: 700px;
    border: 2px solid #B87F32;
    margin-right: 2.5px;
    overflow: scroll;
    overflow-x:  hidden;
}
#nb_viz_yr_1 {
    width: 465px;
    height: 700px;
    border: 2px solid #B87F32;
    margin-left: 2.5px;
    overflow: scroll;
    overflow-x:  hidden;
}    
#nb_viz_yr_2 {
    width: 465px;
    height: 700px;
    border: 2px solid #B87F32;
    margin-left: 5px;
    overflow: scroll;
    overflow-x:  hidden;
}
.awdt_comp_viz {
    width: 465px;
}
/* End of rules for elements of the AWDT comparator view. */

/* Rules for the peak hours comparator view. */
.peak_comp_viz {
    border: 2px solid #B87F32;
}
/* End of rules for the peak hours comparator view. */

/* Rule for the new 'simple' tooltip. */
div.tooltip {	
    position: absolute;			
    text-align: center;			
    /* width: 60px;	*/				
   /*  height: 28px; */					
    padding: 2px;				
    font: 12px sans-serif;		
    background: lightsteelblue;	
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;			
}

/****************************************************************************************************** 
   The following rules for styling "d3-tip" tooltips, courtesy of https://github.com/Caged/d3-tip 
   These rules are NO LONGER USED, and have been retained here for reference purposes only.
*******************************************************************************************************/
.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
  pointer-events: none;
}
/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  position: absolute;
  pointer-events: none;
}
/* Style northward tooltips specifically */
.d3-tip.n:after {
  margin: -2px 0 0 0;
  top: 100%;
  left: 0;
}
/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  position: absolute;
  pointer-events: none;
}
/* Northward tooltips */
.d3-tip.n:after {
  content: "\25BC";
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
  text-align: center;
}
/* Eastward tooltips */
.d3-tip.e:after {
  content: "\25C0";
  margin: -4px 0 0 0;
  top: 50%;
  left: -8px;
}
/* Southward tooltips */
.d3-tip.s:after {
  content: "\25B2";
  margin: 0 0 1px 0;
  top: -8px;
  left: 0;
  text-align: center;
}
/* Westward tooltips */
.d3-tip.w:after {
  content: "\25B6";
  margin: -4px 0 0 -1px;
  top: 50%;
  left: 100%;
}
/* End of UNUSED rules for "d3-tip" tooltips. */
